<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
    <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Find your furry soulmate at Rescue Pet.</p>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Adopt a rescue pet and give them a second chance
        at a loving home.</p>
    </div>
    <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
      <a [routerLink]="['', 'animals', 'create-missing-animal']">
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{imageMissing}}" alt="Bonnie Avatar">
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">I'm missing my pet</h3>
        </div>
      </a>
      <a [routerLink]="['', 'animals', 'create-found-animal']">
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{imageFound}}" alt="Bonnie Avatar">
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">I found a pet</h3>
        </div>
      </a>
      <a [routerLink]="['', 'animals']">
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{imageAdopt}}" alt="Bonnie Avatar">
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">I'd like to have a pet</h3>
        </div>
      </a>
    </div>
  </div>
</section>