<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
      MWA - Group 8
    </a>
    <p>Welcome to our rescue pet site, where you can find your new furry best friend! We are passionate about rescuing animals and giving them a second chance at finding a loving forever home. Our site features a variety of pets, including dogs, cats, rabbits, and more, all of which are in need of a caring home.</p>
    <p></p>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 04/2023 MWA Final Project.</span>
  </div>
</footer>
